@import "../common/variables.css";
@import "../common/text.css";
@import "../common/layouts.css";
@import "../templates/header.css";
@import "../templates/footer.css";

section > div:first-child {
  padding: 0 20px;
}

section h2 {
  margin: 0;
  padding: 1.2rem 0;
}

section p {
  margin: 1.15rem auto;
}

section > div[role="img"] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-wrapper:nth-child(even) {
  background-color: var(--bg-secondary);
  padding-bottom: 50px;
}

#entrepreneurial-team {
  background-image: url(../../images/together.jpg);
  width: 100vw;
  max-width: 100%;
  height: calc(100vw / 3 * 2);
}

#author {
  background-image: url(../../images/whoAmI.jpg);
  height: calc(100vw / 2 * 3);
  max-height: 500px;
}

footer {
  margin: 0;
  background-color: var(--bg-secondary);
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 40px;
  }

  section {
    display: flex;
    align-items: center;
  }

  .section-wrapper:nth-child(even) section {
    flex-direction: row-reverse;
  }

  section > div:first-child {
    flex: 0 0 50%;
    margin-bottom: 4rem;
  }

  #entrepreneurial-team {
    width: 400px;
    height: 600px;
    max-width: calc(50% - 40px);
    margin: 0 auto;
    box-shadow: var(--thin-shadow);
  }

  #author {
    width: 50vw;
    height: 50vw;
    max-width: 21rem;
    max-height: 21rem;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: var(--thin-shadow);
  }
}

@media screen and (min-width: 1300px) {
  section {
    width: 1300px;
    margin: 0 auto;
  }
}
