@import '../common/variables.css';
@import '../common/text.css';
@import '../common/layouts.css';
@import '../templates/header.css';
@import '../templates/footer.css';

section > div:first-child {
  padding: 0 20px;
}

section p {
  margin: 1.15rem auto;
}

section > div[role=img] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#entrepreneurial-team {
  background-image: url(../../images/together.jpg);
  width: 100vw;
  height: calc(100vw / 3 * 2);
}

#author {
  background-image: url(../../images/whoAmI.jpg);
  height: calc(100vw / 2 * 3);
  max-height: 500px;
}

footer {
  margin: 0;
}

@media screen and (min-width: 768px) { 
  main {
    margin-top: 40px;
  }

  section {
    display: flex;
    align-items: center;
  }

  section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  section > div:first-child {
    flex: 0 0 50%;
    margin-bottom: 4rem;
  }

  #entrepreneurial-team {
    width: 400px;
    height: 600px;
    border-radius: 200px;
    max-width: calc(50% - 40px);
    margin: 0 auto;
  }

  #author {
    width: 50vw;
    height: calc(50vw / 3 * 2);
    max-width: 35rem;
    max-height: 21rem;
    border-radius: 0 200px 200px 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 1300px) { 
  main {
    width: 1300px;
    margin: 40px auto 0;
  }

  #author {
    margin: 0 auto;
    border-radius: 200px;
  }
}