@import '../common/variables.css';
@import '../common/text.css';
@import '../common/layouts.css';
@import '../templates/header.css';
@import '../templates/footer.css';

.article-introduction {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.hidden {
  display: none;
}