@import "../common/variables.css";
@import "../common/text.css";
@import "../common/layouts.css";
@import "../components/buttons.css";
@import "../components/searchbar.css";
@import "../components/post.css";
@import "../templates/header.css";
@import "../templates/footer.css";

#posts-container {
  width: 100%;
}

#posts-container .post {
  max-width: 800px;
  margin: 0 auto;
}

#more-posts {
  margin: 50px auto 0;
  display: block;
}

#more-posts.hidden {
  display: none;
}

#no-result {
  margin: 50px 20px;
}

#no-result p {
  margin: 0 auto;
}

#no-result a {
  font-weight: bold;
  color: var(--text-primary);
}

#no-result a:hover {
  text-decoration: none;
  color: var(--tertiary);
}

#no-result svg {
  margin: 40px auto;
  display: block;
}
