@import "../common/variables.css";
@import "../common/text.css";
@import "../common/layouts.css";
@import "../common/loader.css";
@import "../components/searchbar.css";
@import "../components/post.css";
@import "../components/postCarousel.css";
@import "../templates/header.css";
@import "../templates/footer.css";

/*
 * Header
 */

header video {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
}

#video-control {
  position: absolute;
  z-index: 2;
  top: calc(100vh - 5rem);
  clip: rect(0, 0, 0, 0);
  background-color: inherit;
  border: 0;
}

#video-control:focus {
  clip: auto;
}

#video-control:focus svg {
  height: 3rem;
  width: auto;
}

.clip-banner-shadow {
  filter: drop-shadow(var(--thin-shadow));
}

.clip-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.banner-content {
  position: relative;
}

.banner-circle {
  position: absolute;
  z-index: 1;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.banner-circle > div {
  width: 100%;
  padding-top: 100px;
  background-color: transparent;
  background-image: var(--primary-gradient);
}

.blog-name {
  color: var(--secondary);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  max-width: 100%;
  margin: 0.5rem 0;
}

.slogan {
  color: var(--secondary);
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0 auto;
}

.cta {
  display: flex;
  justify-content: center;
  margin: 1rem auto 2rem;
  width: max-content;
  background-color: var(--secondary);
  color: var(--text-secondary);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: lighter;
  box-shadow: var(--shadow);
}

.cta svg {
  margin-left: 15px;
  height: 1rem;
}

.cta:focus,
.cta:hover,
.cta:focus line,
.cta:hover line,
.cta:focus path,
.cta:hover path {
  background-color: var(--primary);
  color: var(--secondary);
  stroke: var(--secondary);
}

@media screen and (min-width: 768px) {
  .banner-content {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .banner-circle {
    left: 0;
    top: 0;
    margin-top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto !important;
    min-width: 40rem;
    min-height: 40rem;
    background-image: url("../../images/brightIdea.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner-circle > div {
    width: 20rem;
    padding-top: 50px;
    background-image: none;
  }

  .blog-name {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
  }

  .slogan {
    font-size: 1rem;
    margin: 0.7rem 0 0.5rem;
  }

  .cta {
    margin: 32px auto;
  }
}

/*
 * Main
 */

main {
  width: 100%;
}

main > section {
  max-width: 930px;
  margin: 0 auto;
}

.post-wrapper:nth-child(odd) {
  background-color: var(--bg-primary);
}

.post {
  max-width: 1300px;
  margin: 0 auto;
}

#carousel-header {
  text-align: left;
  margin-left: 20px;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--text-primary);
}
