@import "../common/variables.css";
@import "../common/text.css";
@import "../common/layouts.css";
@import "../common/loader.css";
@import "../components/modal.css";
@import "../components/buttons.css";
@import "../components/form.css";
@import "../templates/header.css";
@import "../templates/footer.css";

#post-content {
  width: calc(100vw - 40px);
  max-width: 35rem;
  margin: 0 20px;
}

img {
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 80vh;
  margin: 0 auto;
  display: block;
}

.wp-block-media-text {
  display: flex;
  align-items: center;
}

.wp-block-quote {
  color: var(--tertiary);
  font-style: italic;
  border-left: solid;
  padding: 0 10px;
}

cite {
  font-weight: bold;
  display: block;
  text-align: right;
}

ol {
  color: var(--tertiary);
  border-left: solid;
}

iframe {
  display: block;
  margin: 0 auto;
}

.wp-block-image img,
.wp-block-media-text img {
  cursor: zoom-in;
}

figure {
  margin: 0;
}

.wp-block-media-text figure {
  margin-right: 20px;
}

figcaption {
  margin-top: 10px;
  font-size: 0.75rem;
  text-align: center;
}

.summary {
  font-family: 'century-gothic';
  font-size: large;
  font-style: italic;
}

.summary figcaption p {
  margin-top: 10px;
}

.summary > p:first-child {
  border: 1px solid var(--bg-secondary);
  border-left: 0;
  border-right: 0;
  padding: 15px 0;
}

#comment {
  background-color: var(--bg-secondary);
  padding: 40px 0;
}

#comment section {
  width: calc(100vw - 40px);
  max-width: 35rem;
  margin: 0 auto;
}

#comment input,
#comment textarea{
  background-color: var(--bg-primary);
}

#comment textarea{
  padding: 20px;
}

footer {
  background-color: var(--bg-secondary);
  margin-top: 0;
}

@media screen and (min-width: 35rem) {
  #post-content {
    margin: 0 auto;
  }
}
