html {
  font-family: var(--text-font);
  color: var(--text);
}

p {
  max-width: 35rem;
  margin: 1.15rem 0;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

button {
  cursor: pointer;
}

.discrete-button {
  padding: 15px;
  cursor: pointer;
}

.date {
  color: var(--primary);
  text-align: center;
  margin-bottom: 0;
}

a {
  color: var(--primary);
  font-weight: bold;
}

label {
  font-family: var(--secondary-font);
}