:root {
  --primary: #e2008b;
  --secondary: #000000;
  --tertiary: #007B7B;
  --quaternary: #006da7;

  --text-primary: #555555;
  --text-secondary: #ffffff;

  --bg-primary: #ffffff;
  --bg-secondary: #f1f1f1;

  --error: #bf0c11;
  --shadow: 3px 3px 6px #00000029;
  --thin-shadow: 0px 3px 6px #00000029;

  --font-primary: century-gothic, sans-serif;
  --font-secondary: freight-macro-pro, serif;
  --text-font: Helvetica, Arial, sans-serif;
}
