:root {
  --gradient: linear-gradient(to bottom, #54a4ea, #4392d4, #3181be, #1d70a8, #006093);
  --gradient-bg: #127cbe;
  --primary:#127cbe;
  --primary-hover:#707070;
  --primary-bg:#127cbe;
  --primary-hover-bg:#07314B;
  --text: #717171;
  --text-white: #ffffff;
  --secondary-bg: #ffffff;

  --header-font: century-gothic, sans-serif;
  --secondary-font: freight-macro-pro, serif;
  --text-font: Helvetica, Arial, sans-serif;
}   