button {
  display: inline-block;
  background-color: var(--fourth-bg);
  color: var(--text-white);
  border-radius:20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: lighter;
  box-shadow: var(--shadow);
  border-style: none;
  font-size: 1rem;
}

button:hover,
button:focus {
  background-color: var(--primary-bg);
}