.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
  font-weight: normal;
  justify-content: center;
}

.post-wrapper {
  padding: 0 20px 20px;
}

.post-wrapper + .post-wrapper {
  border-top: 5px solid var(--primary);
}

.link:focus,
.link:hover {
  font-weight: bold;
  color: var(--secondary);
  text-decoration: underline;
}

.post-wrapper:nth-child(odd) {
  background-color: var(--bg-secondary);
}

.article-introduction p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.article-introduction p + p {
  display: none;
}

.link {
  margin: 15px auto;
  text-align: center;
  text-decoration: underline;
  color: var(--text-primary);
  display: block;
  font-weight: lighter;
  padding: 15px;
  cursor: pointer;
}

.post > .post-image-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 500px) {
  .post-wrapper {
    padding: 0 20px;
  }

  .post > div:first-child {
    padding: 10px 20px;
    flex: 1;
    max-width: 35rem;
  }

  .post-wrapper:nth-child(even) .post {
    flex-direction: row;
  }

  .post-wrapper:nth-child(odd) .post {
    flex-direction: row-reverse;
  }

  .article-introduction p {
    -webkit-line-clamp: 4;
  }

  .post > .post-image-wrapper {
    margin: 0;
    width: 150px;
    height: 150px;
    box-shadow: var(--thin-shadow);
  }
}


@media screen and (min-width: 768px) {
  .post-wrapper + .post-wrapper {
    border-top: none;
  }

  .post > div:first-child {
    padding: 50px;
  }

  .post > .post-image-wrapper {
    margin: 0;
    width: 250px;
    height: 250px;
    box-shadow: var(--thin-shadow);
  }
}
