#search-container{
  min-height: 8rem;
  background-color: var(--third-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

#search-container .description {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.2rem;
}

#search-container .description p {
  margin: 0;
  padding: 0;
}

.inputs {
  max-width: 100%;
  width: 30rem;
  height: 3.5rem;
  display: grid;
  grid-template: 
              "input select button"
              "labelA labelB labelB"
              / 2fr 3fr 3.5rem;
}

#search-container label{
  color: var(--primary);
  margin: 5px 0;
}

#search-container label[for="search-text"] {
  grid-area: labelA;
  margin: 0.25rem 0.5rem;
}

#search-container label[for="search-topic"] {
  position: relative;
  grid-area: labelB;
}

#search-container label[for="search-topic"]::before {
  content: "";
  position: absolute;
  left: -0.125rem;
  top: -2rem;
  height: 1.5rem;
  width: 1px;
  border-left: 1px solid var(--text);
}

#search-container input,
#search-container select,
#search-container button {
  border: none;
  border-radius: 0;
  background-color: var(--text-white);
  height: 2rem;
  width: 100%;
}

#search-container input {
  grid-area: input;
  padding-left: 0.5rem;
  border-radius: 1rem 0 0 1rem;
}

#search-container button {
  grid-area: button;
  width: 3.5rem;
  padding: inherit;
  background-color: var(--primary-bg);
  border-radius: 0 1rem 1rem 0;
}

#search-container button path {
  stroke: var(--text-white);
  width: 1rem;
  height: auto;
}

.select-wrapper {
  position: relative;
  height: 2rem;
  width: 100%;
  cursor: pointer;
  background-color: var(--text-white);
  pointer-events: none;
  grid-area: select;
}

.select-wrapper > select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  margin: 0; 
  line-height: 1rem;
  padding: 7px; 
  cursor: pointer;
  pointer-events: auto;
}

.select-wrapper > .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 1rem;
  margin: 0.5rem 2px;
  background-color: var(--text-white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.select-wrapper > .arrow svg {
  height: 1rem;
  width: auto;
}

.select-wrapper > .arrow svg path{
  stroke: var(--text);
}

@media screen and (min-width: 768px) { 
  #search-container{
    flex-direction: row;
  }

  #search-container .description {
    text-align: center;
    margin: 2rem 50px 0 0;
  }

  .inputs {
    grid-template: "labelA labelB labelB"
                  "input select button"
                  / 2fr 3fr 3.5rem;
  }

  #search-container label[for="search-topic"]::before {
    top: 1.6rem;
  }
}