nav {
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100vw;
  background-color: white;
  box-shadow: var(--thin-shadow);
}

.homepage nav {
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.5s ease-in;
}

nav.stick-to-top {
  background-color: white;
  background-image: none;
  box-shadow: var(--thin-shadow);
}

.logo svg {
  height: 3rem;
  width: auto;
  margin: 5px;
  font-family: var(--header-font);
}

.logo:focus svg circle,
.logo:hover svg circle {
  fill: var(--primary);
}

#menu button {
  background-color: inherit;
  border: none;
  border-radius: 0;
  display: flex;
  height: 4rem;
  flex-grow: 1;
  box-shadow: none;
  justify-content: flex-end;
  align-items: center;
}

#menu button:focus line,
#menu button:hover line {
  stroke-width: 4;
  stroke: var(--primary);
}

#menu button line {
  stroke: var(--primary-hover-bg);
}

#hamburger-menu {
  flex: 0 0 50px;
  padding: 1rem;
}

#menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu.open-menu > div {
  background-color: var(--secondary-bg);
}

nav ul {
  display: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.open-menu ul {
  display: block;
  position: fixed;
  list-style: none;
  width: 100%;
  background-color: var(--secondary-bg);
  box-shadow: var(--thin-shadow);
}

nav li {
  border-bottom: 1px solid var(--text);
  margin-top: 0.4rem;
  width: 100%;
}

nav li:last-child {
  border-bottom: none;
}

nav a {
  text-decoration: none;
}

nav li a {
  display: block;
  font-size: 1rem;
  color: var(--text);
  font-weight: lighter;
}

nav li a.active {
  font-weight: bold;
  color: black;
}

nav li a:focus,
nav li a:hover {
  font-weight: bold;
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .homepage nav {
    background-image: linear-gradient(to bottom, #ffffff, #ffffffcc);
    box-shadow: var(--thin-shadow);
  }

  #menu {
    display: flex;
    justify-content: center;
  }

  nav ul {
    background-color: inherit;
    height: 4rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 700px;
    padding: 0 30px 10px;
  }

  nav li {
    display: inline-flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
  }

  nav li a::after {
    content: attr(data-text);
    font-weight: bold;
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }

  nav li a:focus,
  nav li a:hover {
    background-image: none;
    font-weight: bold;
  }

  nav li .circle {
    border-radius: 50%;
    height: 0px;
    width: 0px;
    margin-top: -10px;
    transition: width 0.2s ease-in, height 0.2s ease-in;
  }

  nav li .active + .circle {
    background-color: black;
    background-image: none;
    height: 0.8rem;
    width: 0.8rem;
  }

  nav li a:hover + .circle,
  nav li a:focus + .circle {
    background-color: var(--gradient-bg);
    background-image: var(--gradient);
    height: 0.8rem;
    width: 0.8rem;
  }
}

@media screen and (min-width: 1025px) {
  nav ul {
    width: 900px;
    padding: 0 50px 10px;
  }
}

@media screen and (min-width: 1300px) {
  nav ul {
    width: 1000px;
    padding: 0 70px 10px;
  }
}

@media screen and (min-width: 1600px) {
  nav ul {
    width: 1400px;
    padding: 0 100px 10px;
  }
}